body {
    padding-top: 50px;
    background-color: $gray-lighter;
}


.container {
    margin-left: auto;
    margin-right: auto;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

#navContainer {
    background-color: darken($brand-primary, 10%);
    border: none;

    .navbar-brand, .navbar-nav>li>a, .navbar-text {
        color: #ffffff;
    }
    
    .navbar-nav>.active>a, .navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover {
        background-color: $brand-primary;
    }

    .navbar-collapse {
        border: 0 solid transparent;
    }

    .glyphicon {
        color: #ffffff;
    }

    button {
        border: 0;
        border-radius: 0;

        &:hover, &:focus {
            background-color: $brand-primary;
        }
    }
}

#topContainer {
    text-align: center;
    background-color: $brand-primary;
    color: #ffffff;

    h1 {
        font-size: 6em;
        font-weight: 100;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 100;
    }
}

.card {
    margin: 30px 0;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 20px 2px rgba(120,120,120,0.1);

    .nav-pills>li>a {
        border-radius: 0;
    }
}

.card-headline{
    h2 {
        font-size: 1.4em;

        a.glyphicon {
            font-size: 0.75em;
        }

        a.glyphicon:hover {
            text-decoration: none;
        }
    }

    border-bottom: 2px solid $gray-lighter;
    margin: 1em 0;

}

.btn-action {
    transition: background-color 0.25s;
    background-color: $brand-primary;
    color: #ffffff;
    margin: 20px auto;
    max-width: 250px;
    display: block;
    border-radius: 20px;

    &:hover, &:active, &:focus {
        background-color: darken($brand-primary, 10%);
        color: #ffffff;
    }

}

#footerContainer {
    margin: 0;
    background-color: #ffffff;

    .navbar-brand, .navbar-nav>li>a, .navbar-text {
        color: $brand-primary;
    }
}

#leaderboard-controls {
    padding: 10px 0;
}

@media (min-width: $screen-md-min) {
    #leaderboard-metrics {
        float: right;
    }

}

.leaderboard {
    .table > thead:first-child > tr:first-child > th {
        border-top: 2px solid $gray-lighter;
        border-bottom: 2px solid $gray-lighter;
    }

    td, th {
        text-align: center;
    }

    td p {
        padding: 0;
        margin: 0;
    }
 
    td p.author {
        font-style: italic;
    }

    td p.date {
        padding: 0.3em;
        border-radius: 4px;
        color: #ffffff;
        font-size: 0.8em;
        background-color: $gray;
    }
}

.leaderboard-controls {
    text-align: center;

    a.btn-default {
        transition: background-color 0.25s;
        background-color: $brand-primary;
        color: #ffffff;

        &:hover, &:active, &:focus {
            background-color: darken($brand-primary, 10%);
        }

    }
}
