body {
    padding-top: 50px;
    background-color: $gray-lighter;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

#navContainer {
    background-color: darken($brand-primary, 10%);
    border: none;

    .navbar-brand, .navbar-nav>li>a, .navbar-text {
        color: #ffffff;
    }
    
    .navbar-nav>.active>a, .navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover {
        background-color: $brand-primary;
    }

    .glyphicon {
        color: #ffffff;
    }

    button {
        border: 0;
        border-radius: 0;
    }
}

#topContainer {
    text-align: center;
    background-color: $brand-primary;
    color: #ffffff;
}

.card {
    margin: 30px 0;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 20px 2px rgba(120,120,120,0.1);

    .nav-pills>li>a {
        border-radius: 0;
    }
}

.card-headline{
    h2 {
        font-size: 1.4em;

        a.glyphicon {
            font-size: 0.75em;
        }

        a.glyphicon:hover {
            text-decoration: none;
        }
    }

    border-bottom: 2px solid $gray-lighter;
    margin: 1em 0;

}

#footerContainer {
    margin: 0;
    background-color: #ffffff;

    .navbar-brand, .navbar-nav>li>a, .navbar-text {
        color: $brand-primary;
    }
}

#leaderboard-controls {
    padding: 10px 0;
}

@media (min-width: $screen-md-min) {
    #leaderboard-metrics {
        float: right;
    }

}

.leaderboard {
    td, th {
        text-align: center;
    }

    td p {
        padding: 0;
        margin: 0;
    }
 
    td p.author {
        font-style: italic;
    }

    td p.date {
        padding: 0.3em;
        color: #ffffff;
        font-size: 0.8em;
        background-color: $gray;
    }
}

.leaderboard-controls {
    text-align: center;
    button {
        background-color: $brand-primary;
        border-radius: 0;
        color: #ffffff;
    }

    button:hover {
        background-color: darken($brand-primary, 10%);
        color: #ffffff;
    }

    button:active {
        background-color: $gray-lighter;
        color: $brand-primary;
    }
}
